body {
    font-family: "Courier New", Garamond, Georgia, sans-serif;
    background-color: #70809970;
}

.card {
    display: block;
    width: 500px;
    margin: 0 auto;
}

.links {
    display: block;
    padding: 5px;
    margin: 0 auto;
}

button {
    background-color: rgb(195, 253, 255);
    font-size: large;
    display: block;
    margin: 5px auto;
}

.page-header {
    font-family: "Brush Script MT", sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 10px;
}

.recipe-image {
    margin: auto;
    height: auto;
    width: 500px;
}